@charset "UTF-8";

.container{
    text-align: center;
    width: 90%;
}

.container-corpo{
    display: flex;
}

hr{
    width: 50%;
}

p{
    text-align: justify;
    padding-right: 30%;
    padding-left: 30%;
}